@import "tailwindcss";

@theme {
  --color-brand-pink-500: #ec4899;
  --color-brand-pink-600: #db2777;
  --color-brand-pink-700: #be185d;
}

/* Esto asegura que Tailwind se aplique a todo el cuerpo */
@layer base {
  body {
    @apply bg-white dark:bg-neutral-900 transition-colors;
  }
}